<div class="photo-card">
  <div class="photo-container"><a href="{{largeImageURL}}" title="{{tags}}"><img src="{{webformatURL}}" alt="{{tags}}" loading="lazy" /></a></div>
  <div class="info">
    <div class="info-item">
      <b>Likes</b>
      <p class="info-data">{{likes}}</p>
    </div>
    <div class="info-item">
      <b>Views</b>
      <p class="info-data">{{views}}</p>
    </div>
    <div class="info-item">
      <b>Comments</b>
      <p class="info-data">{{comments}}</p>
    </div>
    <div class="info-item">
      <b>Downloads</b>
      <p class="info-data">{{downloads}}</p>
    </div>
  </div>
</div>